.logo {
    color: var(--primary);
    user-select: none;
    grid-area: logo;
    position: relative;
    z-index: 1;
}

.headerTop {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}
.icon {
    height: 40px;
    width: 40px;
    fill: var(--primary);
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.info {
    grid-area: info;
    display: flex;
    gap: 10px;
    align-items: center;
}

@media (max-width: 350px) {
    .logo {
        display: none;
    }
    .headerTop {
        display: flex;
        justify-content: end;
        padding: 10px 10px;
    }
}