.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
            "top"
            "category"
            "categories";
    font-family: var(--secular);
    align-items: center;
    position: relative;
}

.headerTop {
    grid-area: top;
}

.allCategoriesBlock {
    position: absolute;
    top: -1000px;
    width: 100%;
    grid-area: categories;
}

.allCategoriesBlockOpen {
    top: 0px;
}

@media (max-width: 500px) {
    .allCategoriesBlock {
        position: absolute;
        top: 0px;
        margin-top: -1000px;
        width: 100%;
        transition: all .3s;
    }
    .allCategoriesBlockOpen {
        margin-top: 0;
        transition: all ease-in-out .3s;
    }
}