html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--domine);
  color: var(--primary);
  background: var(--white);
  font-size: 16px;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --domine: 'Domine', serif;
  --secular: 'Secular One', sans-serif;
  --black: #000000;
  --white: #ffffff;
  --gray: #f5f5f5;
  --gray-dark: #7c7c7c;
  --yellow: #fcc873;
  --primary: #233b67;
  --rose: #6c1966;
  --rose-light: #ab2aa4;
  --background: #F5F6F8;
}